<%= form_with(model: user_route, local: true) do |form| %>
  <% if user_route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_route.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
      <% user_route.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :dest_name %>
    <%= form.text_field :dest_name, id: :user_route_dest_name %>
  </div>

  <div class="field">
    <%= form.label :route_end_lat %>
    <%= form.text_field :route_end_lat, id: :user_route_route_end_lat %>
  </div>

  <div class="field">
    <%= form.label :route_end_lon %>
    <%= form.text_field :route_end_lon, id: :user_route_route_end_lon %>
  </div>

  <div class="field">
    <%= form.label :dest_desc %>
    <%= form.text_field :dest_desc, id: :user_route_dest_desc %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
