<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_name%>
    <%= form.text_field :user_name, id: :user_user_name %>
  </div>

  <div class="field" >
    <%= form.label :user_email %>
    <%= form.text_field :user_email, id: :user_user_email %>
  </div>

  <div class="field">
    <%= form.label :home_lat, :html => { :id => 'home_lat' }%>
    <%= form.text_field :home_lat, id: :user_home_lat %>
  </div>

  <div class="field">
    <%= form.label :home_lon, :html => { :id => 'home_lon' } %>
    <%= form.text_field :home_lon, id: :user_home_lon %>
  </div>

  <div class="field">
    <%= form.label :dest_lat %>
    <%= form.text_field :dest_lat, id: :user_dest_lat %>
  </div>

  <div class="field">
    <%= form.label :dest_lon %>
    <%= form.text_field :dest_lon, id: :user_dest_lon %>
  </div>
  
  <div class="field">
    <%= form.label :dest_type %>
    <%= form.text_field :dest_type, id: :user_dest_type %>
  </div>

  <div class="field">
    <%= form.label :dest_desc %>
    <%= form.text_field :dest_desc, id: :user_dest_desc %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
