<p id="notice"><%= notice %></p>

<p>
  <strong>User name:</strong>
  <%= @user.user_name %>
</p>

<p>
  <strong>User email:</strong>
  <%= @user.user_email %>
</p>

<p>
  <strong>Home latitude:</strong>
  <%= @user.home_lat %>
</p>

<p>
  <strong>Home longitude:</strong>
  <%= @user.home_lon %>
</p>

<p>
  <strong>Destination latitude:</strong>
  <%= @user.dest_lat %>
</p>

<p>
  <strong>Destination longitude:</strong>
  <%= @user.dest_lon %>
</p>

<p>
  <strong>Transporation Method:</strong>
  <%= @user.dest_type %>
</p>

<p>
  <strong>Destination Description:</strong>
  <%= @user.dest_desc %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
