<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>Simple Map App</title>

    <!-- Bootstrap core CSS -->
    
</head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
      <div class="container">
        <a class="navbar-brand" href="/users">User Detail List</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/users">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <p id="notice"><%= notice %></p>

    <p>
      <strong>User name:</strong>
      <%= @user.user_name %>
    </p>

    <p>
      <strong>Home latitude:</strong>
      <%= @user.home_lat %>
    </p>

    <p>
      <strong>Home longitude:</strong>
      <%= @user.home_lon %>
    </p>

    <p>
      <strong>Destination latitude:</strong>
      <%= @user.dest_lat %>
    </p>

    <p>
      <strong>Destination longitude:</strong>
      <%= @user.dest_lon %>
    </p>

    <p>
      <strong>Transporation Method:</strong>
      <%= @user.dest_type %>
    </p>

    <p>
      <strong>Destination Description:</strong>
      <%= @user.dest_desc %>
    </p>

    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %>

  </body>
</head>
